.nav1 {
    display: flex;
    justify-content: space-between;
    max-width: 892px;
    margin: 0 auto;
    max-height: 900px;
    background: none;
    color: gray;
}

.nav-linkI {
    color: gray;
    text-decoration: none;
}

.logo {
    font-size: 30px;
    font-weight: bold;
    padding: 0 10px;
    line-height: 5px;
    color: rgba(0, 0, 240, 0.747);
    background: none;
    border: none;
}

.logof {
    padding: 0 40px;
    line-height: 30px;
    border: none;
    color: gray;
    font-size: 20px;
}

.nav-menu {
    display: flex;
    margin-right: 10px;
    list-style: none;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    color: gray;
}

.nav-menu-item {
    font-size: 10px;
    margin: 0 30px;
    line-height: 10px;
    text-transform: uppercase;
    width: max-content;
    color: gray;
}

.nav-menu-link:hover,
.nav-menu-link-active {
    background-color: rgba(10, 244, 246, 0.07);
    transition: 0.5s;
}

.nav-toggle {
    color: white;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    display: none;
    /*para que no se vea en pantalla completa*/
}

.boton {
    background-color: #3454d2;
    border-radius: 5px;
    height: 37px;
    width: 150px;
    color: white;
    border: none;
    font-size: 20px;
}