.nav1 {
    display: flex;
    justify-content: space-between;
    max-width: 892px;
    margin: 0 auto;
    max-height: 900px;
    background: none;
    color: gray;
}

.header1 {
    background-color: rgba(150, 150, 150, 0.248);
    /* width: 90%; */
    max-width: 1050px;
    margin: 20px auto;
    /* CON ESTA CONVINACION PUEDO CENTRAR MI PAG  */
    display: grid;
    grid-gap: 20px;
    max-width: 1092px;
    margin: 0 auto;
    max-height: 900px;
    border-radius: 5px;
    background: rgba( 255, 255, 255, 0.2);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37);
    backdrop-filter: blur( 20px);
    -webkit-backdrop-filter: blur( 20px);
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18);
}

.nav-linkI {
    color: gray;
    text-decoration: none;
}

.logoi {
    font-size: 30px;
    font-weight: bold;
    padding: 0 10px;
    line-height: 5px;
    color: rgba(0, 0, 240, 0.747);
    background: none;
    border: none;
}

.logof {
    padding: 0 40px;
    line-height: 30px;
    border: none;
    color: gray;
    font-size: 20px;
}

.nav-menui {
    display: flex;
    margin-right: 10px;
    list-style: none;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    color: gray;
}

.nav-menu-itemi {
    font-size: 20px;
    margin: 0 20px;
    line-height: 10px;
    text-transform: uppercase;
    width: max-content;
    color: gray;
}

.nav-menu-linki:hover,
.nav-menu-link-active {
    background-color: rgba(10, 244, 246, 0.07);
    transition: 0.5s;
}

.nav-togglei {
    color: rebeccapurple;
    background: none;
    border: none;
    /* font-size: 30px; */
    /* padding: 0 20px; */
    /* line-height: 60px; */
    display: none;
    /*para que no se vea en pantalla completa*/
}

.boton {
    background-color: #3454d2;
    border-radius: 5px;
    height: 37px;
    width: 150px;
    color: white;
    border: none;
    font-size: 20px;
}

@media screen and ( max-width: 1052px) {
    body {
        padding-top: 70px;
    }
    .header {
        height: 60px;
    }
    .logo {
        font-size: 25px;
        padding: 0 20px;
        line-height: 60px;
    }
    .nav-menui {
        flex-direction: column;
        align-items: center;
        margin: 0px;
        position: fixed;
        left: 0;
        top: 60px;
        width: 100%;
        padding: 10px 0;
        height: calc(100% - 60);
        overflow-y: auto;
        /*para barra de escrol cuando lo necesite*/
        left: 100%;
        transition: left 0.3s;
    }
    .nav-menu-itemi {
        line-height: 40px;
    }
    .nav-menu-link:hover,
    .nav-menu-link-active {
        background: none;
        color: #eadaa2;
    }
    .nav-togglei {
        display: block;
    }
    .nav-menu_visible {
        left: 0px;
        background: rgba( 255, 255, 255, 0.8);
    }
    .center {
        flex-direction: column;
    }
}


/* NAV DE PRUEBAS */